{% extends 'base.html.twig' %}
{% block title %}
Hello homepage
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em 20%; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
<h1>Hello, {{name | title}}!</h1>
<form method="post" action="/changeMyName">
<label for="name">Name</label></br>
<input type="text" name="name"/></br>
<button type="submit">Submit</button>
</form>
</div>
{% endblock %}